In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../etc/Community/NORDICAR_MappingKeywords.csv', sep = ';', encoding='ISO-8859-1')
df

,da,en,no
0,Begravelse,Funerary,Gravminne
1,Bosættelse,Settlement,Bolig/bosetning
2,Diverse anlæg og genstande,Diverse features and objects,Funksjon uspesifisert
3,Transport,Transport,Ferdsel/samferdsel
4,Primær subsistens,Primary subsistence,Landbruk
...,...,...,...
590,Vandingsanlæg,Irrigation,Vannforsyningsanlegg
591,NaN,Water purification,Vannrensingsanlegg
592,Vej,Road,Veganlegg
593,NaN,Road station,Vegstasjon
594,Båd-/skibsværft,Shipyard / Boatyard,Verft

In [3]:
result = df.loc[df.da == 'Bosættelse']
result

           da          en               no
1  Bosættelse  Settlement  Bolig/bosetning

In [4]:
result.values[0].tolist()

['Bosættelse', 'Settlement', 'Bolig/bosetning']